[Unit]
Description=Config am alive
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/my-python-service/i_am_alive.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
